@page "/block/{hash}"
@using System.Globalization
@using TheDialgaTeam.Worktips.Explorer.Shared.Utilities

@inject Daemon.DaemonClient DaemonClient
@inject IPageProgressService PageProgressService

<PageTitle>Worktips Block Explorer - Block Details</PageTitle>

<Row Gutter="(16, 32)">
    <Column ColumnSize="ColumnSize.Is12.OnDesktop">
        <Card Background="Background.Primary">
            <CardHeader TextColor="TextColor.Dark" TextWeight="TextWeight.Bold"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.DiceD6" /> Block: @_blockInfoResponse.Hash</CardHeader>
            <CardBody>
                <Table Narrow="true" Responsive="true" Margin="Margin.Is0">
                    <TableBody>
                        <TableRow>
                            <TableRowHeader Background="Background.Primary">Height</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@_blockInfoResponse.Height.ToString("N0")</TableRowCell>
                            <TableRowHeader Background="Background.Primary">Size</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@_blockInfoResponse.Size.ToString("N0") bytes</TableRowCell>
                        </TableRow>

                        <TableRow>
                            <TableRowHeader Background="Background.Primary">Confirmations</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@_blockInfoResponse.Confirmation.ToString("N0")</TableRowCell>
                            <TableRowHeader Background="Background.Primary">Miner Reward</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@DaemonUtility.FormatAtomicUnit(_blockInfoResponse.MinerReward, _coinInfoResponse.Unit) @_coinInfoResponse.Ticker</TableRowCell>
                        </TableRow>

                        <TableRow>
                            <TableRowHeader Background="Background.Primary">Date & Time</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@DateTimeOffset.FromUnixTimeSeconds(Convert.ToInt64(_blockInfoResponse.Timestamp)).LocalDateTime</TableRowCell>
                            <TableRowHeader Background="Background.Primary">Reward</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@DaemonUtility.FormatAtomicUnit(_blockInfoResponse.Reward, _coinInfoResponse.Unit) @_coinInfoResponse.Ticker</TableRowCell>
                        </TableRow>

                        <TableRow>
                            <TableRowHeader Background="Background.Primary">Version</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@_blockInfoResponse.Version</TableRowCell>
                            <TableRowHeader Background="Background.Primary">Transactions Size</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@_blockInfoResponse.TxSize.ToString("N0") bytes</TableRowCell>
                        </TableRow>

                        <TableRow>
                            <TableRowHeader Background="Background.Primary">Difficulty</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@_blockInfoResponse.Difficulty.ToString("N0")</TableRowCell>
                            <TableRowHeader Background="Background.Primary">Transaction Fees</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@DaemonUtility.FormatAtomicUnit(_blockInfoResponse.TxFee, _coinInfoResponse.Unit) @_coinInfoResponse.Ticker</TableRowCell>
                        </TableRow>

                        <TableRow>
                            <TableRowHeader Background="Background.Primary">Nonce</TableRowHeader>
                            <TableRowCell Background="Background.Primary">@_blockInfoResponse.Nonce.ToString("N0")</TableRowCell>
                            <TableRowHeader Background="Background.Primary">Prev. Block</TableRowHeader>
                            <TableRowCell Background="Background.Primary">
                                <Anchor To="@($"block/{_blockInfoResponse.PreviousBlockHash}")" TextColor="TextColor.Primary">@_blockInfoResponse.PreviousBlockHash</Anchor>
                            </TableRowCell>
                        </TableRow>

                        <TableRow>
                            <TableRowHeader Background="Background.Primary">Service Node Winner</TableRowHeader>
                            <TableRowCell ColumnSpan="3" Background="Background.Primary">@_blockInfoResponse.ServiceNodeWinner</TableRowCell>
                        </TableRow>
                    </TableBody>
                </Table>
            </CardBody>
        </Card>
    </Column>
</Row>

<Row Gutter="(16, 32)">
    <Column ColumnSize="ColumnSize.Is12.OnDesktop">
        <Card Background="Background.Primary">
            <CardHeader TextColor="TextColor.Dark" TextWeight="TextWeight.Bold"><Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ExchangeAlt" /> Transaction <Badge Color="Color.Success">@_blockInfoResponse.TransactionInfo.Count</Badge></CardHeader>
            <CardBody>
                <Table Narrow="true" Responsive="true">
                    <TableHeader>
                        <TableRow>
                            <TableRowHeader Background="Background.Primary">HASH</TableRowHeader>
                            <TableRowHeader Background="Background.Primary">FEE</TableRowHeader>
                            <TableRowHeader Background="Background.Primary">TOTAL AMOUNT</TableRowHeader>
                            <TableRowHeader Background="Background.Primary">SIZE</TableRowHeader>
                        </TableRow>
                    </TableHeader>
                    <TableBody>
                        @if (!_blockInfoResponse.Success || _blockInfoResponse.TransactionInfo.Count == 0)
                        {
                            <TableRow>
                                <TableRowCell ColumnSpan="4" Background="Background.Primary">There are no transactions in this block.</TableRowCell>
                            </TableRow>
                        }
                        else
                        {
                            @foreach (var transaction in _blockInfoResponse.TransactionInfo)
                            {
                                <TableRow>
                                    <TableRowCell Background="Background.Primary">@transaction.Hash</TableRowCell>
                                    <TableRowCell Background="Background.Primary">@DaemonUtility.FormatAtomicUnit(transaction.Fee, _coinInfoResponse.Unit)</TableRowCell>
                                    <TableRowCell Background="Background.Primary">@DaemonUtility.FormatAtomicUnit(transaction.TotalAmount, _coinInfoResponse.Unit)</TableRowCell>
                                    <TableRowCell Background="Background.Primary">@transaction.Size.ToString("N0")</TableRowCell>
                                </TableRow>
                            }
                        }
                    </TableBody>
                </Table>
            </CardBody>
        </Card>
    </Column>
</Row>

@code
{
    [Parameter]
    public string Hash { get; set; } = string.Empty;

    private GetCoinInfoResponse _coinInfoResponse = new() { Success = false };
    private GetBlockInfoResponse _blockInfoResponse = new() { Success = false };

    protected override async Task OnParametersSetAsync()
    {
        await PageProgressService.Go(null, options => options.Color = Color.Success);

        _coinInfoResponse = await DaemonClient.GetCoinInfoAsync(new NoParametersRequest());

        var request = ulong.TryParse(Hash, NumberStyles.Integer, null, out var height) ? new GetBlockInfoRequest { Height = height } : new GetBlockInfoRequest { Hash = Hash };
        _blockInfoResponse = await DaemonClient.GetBlockInfoAsync(request);

        await PageProgressService.Go(-1);
        await InvokeAsync(StateHasChanged);
    }
}